/* Estilo geral do corpo */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
}

/* Estilo do botão */
button {
    background-color: #d30c0c;
    color: goldenrod;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

/* Estilo do botão ao passar o mouse */
button:hover {
    background-color: goldenrod;
    color: #d30c0c ;
}
