        /* Estilos gerais para o corpo */
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            background-color: #f0f8ff;
            font-family: Arial, sans-serif;
        }

        /* Estilo para o botão */
        button {
            background-color: #4CAF50;
            color: white;
            border: none;
            padding: 20px 40px;
            text-align: center;
            font-size: 20px;
            font-weight: bold;
            border-radius: 10px;
            cursor: pointer;
            box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
            transition: background-color 0.3s, box-shadow 0.3s;
        }

        /* Estilo ao passar o mouse no botão */
        button:hover {
            background-color: #45a049;
            box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
        }

        /* Estilo do texto do botão */
        button h1 {
            margin: 0;
            font-size: 24px;
        }